body {
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    color: #3a3f5d;
    font-weight: 300;
    box-sizing: border-box;
    overflow-x: hidden;

}

header {
    padding: 15px;
    width: 100vw;
    background: rgba(9, 9, 240, 0.544);
    font-size: 1.2rem;
    color: white;
}

h1.title {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 72px;
    font-weight: 900;
}

h1, main {
    margin: 2rem;
}

main>section {
    padding: 20px;
    background: #272f5a15;
}

.title_line {
    color: #3a405b;
    font-weight: 700;
    font-size: 1.5rem;

}

.decor {
    padding-bottom: 30px;
    color: #3bafda;
    font-weight: 600;
}

mark {
    background-color: transparent;
    color: #eb4e36;
    font-weight: 600;
}

h2 {
    font-size: 1rem;
    margin-bottom: .2em;

}

h3 {
    font-size: .9rem;
    color: #a1a6bb;
    margin-bottom: 1rem;
}

/* размещение через GRID */
#container_table {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto-flow;
}




@media (max-width: 720px) {
    h1, main {
        margin: 10px;
    }

    #container_table {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto-flow;
    }

    h1.title {
        font-size: 2rem;
        line-height: 1;
    }

}